### Dictionary & Set in Python
**Dictioneries are used to store data values in key:values pairs**
1. its mutable (not like tuples)
2. unordered
3. don't allow duplicate keys

In [11]:
info = {
    "key" : "value",
    "name" : "Awais",
    "leanring" : "Python" ,
    "age" : 25,
    "adult" : True,
    "Marks" : 4.2,
    "Subjects" : ["python", "c", "Java"],
    
}
print(info)

{'key': 'value', 'name': 'Awais', 'leanring': 'Python', 'age': 25, 'adult': True, 'Marks': 4.2, 'Subjects': ['python', 'c', 'Java']}

In [12]:
print(info["key"])
print(info["age"])
print(info["Subjects"])

value
25
['python', 'c', 'Java']

In [13]:
# assingment like modifieng
info["name"] = "Awais Ali"
info["surname"] = "Ali"
info

{'key': 'value',
 'name': 'Awais Ali',
 'leanring': 'Python',
 'age': 25,
 'adult': True,
 'Marks': 4.2,
 'Subjects': ['python', 'c', 'Java'],
 'surname': 'Ali'}

In [16]:
# creating null dictionary
dictt = {}
dictt
dictt["Name"] = "Apna College"
dictt

{'Name': 'Apna College'}

In [25]:
# Nested Dictionaries
student = {
    "name" : "Awais Ali",
    "Subjects" : {
        "Math" : 53,
        "Science" : 22,
        "Geology": 32,
        "Sicnce2" : 55,   
    },
    "Roll no." : 6032,
}
student

{'name': 'Awais Ali',
 'Subjects': {'Math': 53, 'Science': 22, 'Geology': 32, 'Sicnce2': 55},
 'Roll no.': 6032}

In [27]:
student["Subjects"]

{'Math': 53, 'Science': 22, 'Geology': 32, 'Sicnce2': 55}

In [39]:
student1 = {
    "name" : "Awais Ali", 
    "Subjects" : {
        "Math" : 44,
        "English": 22,
        "Arabic": 66,
        "Science": 46,
    }, 
    "Roll no.": "422-bh-sdf",
    "Class": "23th"
}
student1 ["Subjects"] ["Math"]

44

#### Dictionary Methods
1. myDict.keys() #returns all keys
2. myDict.values() #returns all values
3. myDict.items() #returns all (key,value) pairs as tuples
4. myDict.get("key") #returns the key according to value
5. myDict.update(newDict) #inserts the specified items to the dictionary

In [41]:
print(student.keys())
print(student.values())

dict_keys(['name', 'Subjects', 'Roll no.'])
dict_values(['Awais Ali', {'Math': 53, 'Science': 22, 'Geology': 32, 'Sicnce2': 55}, 6032])

In [42]:
# Doing tyype casting 
print(list(student.keys()))

['name', 'Subjects', 'Roll no.']

In [46]:
print(len(student))
print((list(student.values())))

3
['Awais Ali', {'Math': 53, 'Science': 22, 'Geology': 32, 'Sicnce2': 55}, 6032]

In [47]:
print(student.items()) #returns in the form of tuples

dict_items([('name', 'Awais Ali'), ('Subjects', {'Math': 53, 'Science': 22, 'Geology': 32, 'Sicnce2': 55}), ('Roll no.', 6032)])

In [51]:
pairs = list(student.items())
print(pairs[0])
print(list(student.items()))

('name', 'Awais Ali')
[('name', 'Awais Ali'), ('Subjects', {'Math': 53, 'Science': 22, 'Geology': 32, 'Sicnce2': 55}), ('Roll no.', 6032)]

In [58]:
print(student.get("name"))
print(student["name"])

# Now let's check the difference while searching for key that doesn't exist
print(student.get("name1")) # -> None
print(student["name1"]) #error
#once the error occurs all the remaining code will not execute

Awais Ali
Awais Ali
None

In [53]:
print(student.values())

dict_values(['Awais Ali', {'Math': 53, 'Science': 22, 'Geology': 32, 'Sicnce2': 55}, 6032])

In [59]:
student.update({"city" : "Lahore"})
student

{'name': 'Awais Ali',
 'Subjects': {'Math': 53, 'Science': 22, 'Geology': 32, 'Sicnce2': 55},
 'Roll no.': 6032,
 'city': 'Lahore'}

In [60]:
#adding new dictionery
new_dic = {
    "City" : "Islamabad",
    "Area" : "DHA",
}
student.update(new_dic)
student

{'name': 'Awais Ali',
 'Subjects': {'Math': 53, 'Science': 22, 'Geology': 32, 'Sicnce2': 55},
 'Roll no.': 6032,
 'city': 'Lahore',
 'City': 'Islamabad',
 'Area': 'DHA'}

#### Sets in Python
1. Set is the collection of the unordered items.
2. Each element in the set must be unique & immutable
3. following data types are acceptable
    - bolean
    - int
    - float
    - str
    - tuple etc.
4. Cannot store list or dictionary because they are mutable

In [64]:
collection = {3,2,13,4, "hello", "world", 3,2,13}
type(collection)
print(collection)
#sets are unordered this doesn't follow
print(len(collection)) #ignored duplicate values

{2, 3, 4, 'hello', 'world', 13}
6

In [65]:
# empty 
collection = {} # this is dictionary
collection1 = set() #explicitly type casting
type(collection1)

set

#### Set methods
1. set.add() #sets elements are immutable but sets are mutable
2. set.remove()
3. set.clear() 
4. set.pop() #removes a random value
5. set.union(set2)
6. set.intersection(set2)

In [67]:
col = set()
col.add(1)
col.add(3)
col.add(2)
col.add(1)
col

{1, 2, 3}

In [68]:
col.remove(3)
col

{1, 2}

In [69]:
col.add("Apple")
col

{1, 2, 'Apple'}

In [70]:
col.add((1,3,23,1)) #since tuples are immutable
col

{(1, 3, 23, 1), 1, 2, 'Apple'}

In [71]:
col.add([3,232,2]) #cannot add because this list
col
# unhashable -> immutable means we cannot ever change the value of a tuple
# hashable : are mutable

TypeError: unhashable type: 'list'

In [75]:
print(len(col))
col.pop()
col

0

KeyError: 'pop from an empty set'

In [74]:
col.clear()
len(col)

0

In [76]:
col1 = {"apna", "college", "is teaching", 3 , 22, 32}
col1.pop()
col1

{22, 3, 'apna', 'college', 'is teaching'}

In [77]:
col1.pop()

'apna'

In [78]:
col1

{22, 3, 'college', 'is teaching'}

In [82]:
set1 = {1,2,3,4}
set2 = {4, 5, 6,9}
print(set1.union(set2))
print(set1.intersection(set2)) #4

{1, 2, 3, 4, 5, 6, 9}
{4}

#### Practice

**Store the following word meanings in a python dictionary:** <br>
table: "a piece of furniture", "list of facts & figures" <br>
cat: "a small animal"

In [85]:
Dict = {
    "table" : [
        "a piece of furniture", 
        "list of facts & figures"],
    "cat" : "a small animal",
}
print(Dict)

{'table': ['a piece of furniture', 'list of facts & figures'], 'cat': 'a small animal'}

**You are given a list of subjects ofr students. Assume one classroom is required for 1 subject. How many classrooms are needed by all students** <br>

In [84]:
Subjects = {"python", "java", "C++", "python", "Javascript", 
           "java", "python", "java", "C++", "C"
           }
print("Total class are requried", len(Subjects), "for the subjets")

Total class are requried 5 for the subjets

**WAP to enter marks of 3 subjects from the user and store them in a dictionary, Start with an empty dictionary and add one by one. Use subject name as key & marks as value**

In [92]:
Subj = {}
Subjects = {
    input("Enter Subject 1:") : input("Enter Marks"),
    input("Enter Subject 2:") : input("Enter Marks"),
    input("Enter subject 3:") : input("Enter marks"),
}
Subj.update(Subjects)
print(Subj)

Enter Subject 1: English
Enter Marks 42
Enter Subject 2: Math
Enter Marks 23
Enter subject 3: Science
Enter marks 99

{'English': '42', 'Math': '23', 'Science': '99'}

**Figure out a way to store 9 & 9.0 as seperate values in the set. (You can take help of built-in data types)**

In [96]:
set8 = {int(9), str(9.0)}
print(set8)

{9, '9.0'}

In [99]:
marks = {}

x = int(input("Enter marks"))
marks.update({"Phy" : x})
x = int(input("Enter marks"))
marks.update({"Math" : x})
x = int(input("Enter marks"))
marks.update({"Enlish" : x})
print(marks)

Enter marks 43
Enter marks 23
Enter marks 12

{'Phy': 43, 'Math': 23, 'Enlish': 12}