#### Loops
Loops aer used to repeat instructions. <br>
while Loops <br>
while condition:<br>
    #some work

In [2]:
#tedios work
print('hello')
print('hello')
print('hello')
print('hello')
print('hello')

hello
hello
hello
hello
hello

In [1]:
4*3

12

In [ ]:
count = 1
while count <= 5:
    print("hello World")
    count = count + 1

In [1]:
count = 1
while count <= 5:
    print("hello World")
    count = count + 1

hello World
hello World
hello World
hello World
hello World

In [3]:
name = "Awais Ali"
a = 0 #these are called as iterators
while a <= 10:
    print(a, ": ", name)
    a += 1 #iteration
print(a)

0 :  Awais Ali
1 :  Awais Ali
2 :  Awais Ali
3 :  Awais Ali
4 :  Awais Ali
5 :  Awais Ali
6 :  Awais Ali
7 :  Awais Ali
8 :  Awais Ali
9 :  Awais Ali
10 :  Awais Ali
11

In [ ]:
i = 5
while i <= 1:
    print(i)
    i += 1

In [1]:
i = 5
while i <= 1:
    print(i)
    i += 1

In [2]:
3*3

9

In [3]:
i = 5
while i >= 1:
    print(i)
    i -= 1

5
4
3
2
1

In [4]:
# print numbers from 1 to 100
num = 1
while num <= 100:
    print(num)
    num += 1
print("Loop ended")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
Loop ended

In [5]:
num = 100
while num >= 1:
    print(num)
    num -= 1
print("Loop ended")

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
Loop ended

In [2]:
i = 100
while i >= 1: # stopping condition
    print(i)
    i -= 1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [3]:
num = int(input("enter a number"))
i = 1
while i <= 10*num:
    print(i)
    i = i*num

enter a number 3

1
3
9
27

In [7]:
num = int(input("enter a number"))
i = 1
while i <= 10:
    print(num, "x", i, "= ", num*i)
    i += 1

enter a number 21

21 x 1 =  21
21 x 2 =  42
21 x 3 =  63
21 x 4 =  84
21 x 5 =  105
21 x 6 =  126
21 x 7 =  147
21 x 8 =  168
21 x 9 =  189
21 x 10 =  210

In [8]:
List = [3,23,1,2, 2,3,23,1,53,3]
print(List[0])
print(List[1])
print(List[2])
print(List[3])
print(List[4])
print(List[5])
print(List[6])

3
23
1
2
2
3
23

In [17]:
print(List)

[0, 23, 1, 2, 2, 3, 23, 1, 53, 3]

In [16]:
idx = 0
while idx <= len(List)-1:
    print(List[idx])
    idx += 1

0
23
1
2
2
3
23
1
53
3

In [21]:
L = ["Awais Ali", 3, 2, 23,1 ,1 , 12]
index = 0 
while index < len(L):
    print(L[index])
    index += 1

Awais Ali
3
2
23
1
1
12

In [22]:
T = (3,2,12,42,12,23,32)
index = 0
while index < len(T):
    print(T[index])
    index += 1

3
2
12
42
12
23
32

In [27]:
D = {"Awais" : 132, "Ali" : "321", "Group": (32,21), "List": [32,1]}
D.keys() = 0
while D.keys() < len(D):
    print(D[D.keys()])
    index += 1

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (419205428.py, line 2)

In [26]:
D.keys()

dict_keys(['Awais', 'Ali', 'Group', 'List'])

In [28]:
# This is called as traverse mean traveling to the each element of list or tuple

In [15]:
TT = (32,1,3,12,42,534,12,10)
x = int(input("enter a number"))
index = 0
while index < len(TT):
    if TT[index] == x:
        print("Found at", index)
    else:
        print("finding...")
    index += 1

enter a number 12

finding...
finding...
finding...
Found at 3
finding...
finding...
Found at 6
finding...

In [5]:
3*3

9

In [21]:
LL = [42, 23, 34, 424, 23, 12, 53, 10 , 19, 23]
x = int (input("Searching for? "))
index = 0
while index < len(LL):
    if LL[index] == x:
        print(x, "Found at Index", "[",index,"]")
    else:
        print("finding...")
    index += 1

Searching for?  23

finding...
23 Found at Index [ 1 ]
finding...
finding...
23 Found at Index [ 4 ]
finding...
finding...
finding...
finding...
23 Found at Index [ 9 ]

In [25]:
List_1 = [2,3,2,32,3,53,56,5,2,5,73,3,2]
x = int(input("Enter a number"))
index = 0
while index < len(List_1):
    if List_1[index] == x:
        print(x, "is found at index", "[", index, ']')
    else: 
        print("finding...")
    index += 1

Enter a number 32

finding...
finding...
finding...
32 is found at index [ 3 ]
finding...
finding...
finding...
finding...
finding...
finding...
finding...
finding...
finding...

#### Break and continue

In [1]:
i = 0
while i <= 5:
    print(i)
    if i == 3:
        break
    i += 1

0
1
2
3

In [11]:
List_2 = [3,2,3,2,1,3,2,4,2,3,4,2,23]
x = int(input("Enter a number"))
index = 0
while index < len(List_2):
    if List_2[index] == x:
        print(x, "Found at", index)
        break
    else:
        print('finding....')
    index += 1

Enter a number 1

finding....
finding....
finding....
finding....
1 Found at 4

In [2]:
i = 0
while i <= 5:
    if (i == 3):
        i += 1
        continue # acts as skip
    print(i)
    i += 1

0
1
2
4
5

In [3]:
i = 1 
while i <= 10:
    if i%2 == 0: # As if the value will be even skip and go to next
        i += 1
        continue #skip
    print(i)
    i += 1

1
3
5
7
9

In [6]:
i = 1
while i <= 10:
    if i % 2 != 0:
        i += 1
        continue
    print(i)
    i += 1

2
4
6
8
10

#### More practice questions while loops

In [7]:
#Print numbers 1 to 10 using a while loop.
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [7]:
# Print even numbers from 2 to 20 using a while loop
i = 1
while i <= 20:
    if i % 2 != 0:
        i += 1
        continue #skipp all which has not remainder 0
    print(i)
    i += 1

2
4
6
8
10
12
14
16
18
20

In [12]:
total = 0
n = int(input("Enter a number: "))
i = 1
while i <= n:
    print(i)
    total = i + total
    i += 1
    
print(total)

Enter a number:  3

1
2
3
6

In [11]:
# Program to find the sum of numbers from 1 to n

# take input from user
n = int(input("Enter a number: "))

# initialize variables
i = 1
total = 0

# while loop to add numbers
while i <= n:
    total = total + i
    i = i + 1

# print the result
print("The sum of numbers from 1 to", n, "is:", total)

Enter a number:  3

The sum of numbers from 1 to 3 is: 6

In [13]:
# Count down from 10 to 1 and print "Liftoff" at the end.
i = 10 
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [22]:
 pw = input("Enter the password")
password = "python123"
i = 0
while i <= 10:
    if pw == password:
        print("Correct")
        break
    
    else:
        pw = input("Enter the password again")
    i += 1

Enter the password python123

Correct

#### For Loops
**Loops are used for sequential traversal. For traveling list, string, tuples etc.**

In [ ]:
listt = [2,3,5]
for elements in listt:
    print(elements)

In [1]:
listt = [2,3,43,2]
for elements in listt:
    print(elements)

2
3
43
2

In [2]:
veg = ["patato", "brijilo", "cucumber"]
for v in veg:
    print(v)

patato
brijilo
cucumber

In [3]:
tup = (2,3,34,23,3)
for n in tup:
    print(n)

2
3
34
23
3

In [6]:
Str = "Apna College"
for char in Str:
    if (char == 'o'):
        print("o is found")
        break
    print(char)
else: 
    print("End")

A
p
n
a

C
o is found

In [7]:
list_1 = [1,3,2,2,34,2,3,42,23,1, [32,53,2], (3,24,2), 32, "Awais", {3,23}]
for elements in list_1:
    print(elements)

1
3
2
2
34
2
3
42
23
1
[32, 53, 2]
(3, 24, 2)
32
Awais
{3, 23}

In [17]:
x = int(input("Enter a number"))
tup1 = (3,2,53,2,3,34,1,4,42,10)
index = 0
for elements in tup1:
    if elements == x:
        print(x, "is found at", index)
    index += 1
    break  
    print(elements)
else: 
    print("End")

Enter a number 3

3 is found at 0

#### Range()

In [20]:
for el in range(5):
    print(el)

0
1
2
3
4

In [21]:
for el in range(1,5):
    print(el)

1
2
3
4

In [22]:
for el in range(1,5,2):
    print(el)

1
3

In [23]:
range(6)

range(0, 6)

In [24]:
seq = range(6)
print(seq[0])
print(seq[1])
print(seq[2])

0
1
2

In [25]:
for el in range(6):
    print(el)

0
1
2
3
4
5

In [26]:
for i in range (2, 100, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [28]:
##Practice Questions
#Print numbers from 1 to 100.
for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [29]:
for i in range(100,1):
    print(i)

In [30]:
3*3

9

In [34]:

i = 100
for n in i:
    print(n)
    i -= 1

TypeError: 'int' object is not iterable

In [35]:
for i in range (100, 0, -1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [37]:
n = int(input("Enter a number"))
for i in range(1,10):
    print(i*n)

Enter a number 3

3
6
9
12
15
18
21
24
27

#### Pass Statement

In [38]:
for i in range (5):
    pass

In [39]:
if i>5:
    pass

In [41]:
x = int(input("Enter a number"))
total = 0
i = 0 
while i <= x:
    print(i)
    
    i += 1
    total = total + i
    print(total)

Enter a number 4

0
1
1
3
2
6
3
10
4
15

In [43]:
n = 5
Sum = 0
for i in range(1, n+1):
    Sum += i
print(Sum)

15

In [47]:
n = 7
Sum = 1
i = 1
while i <= n:
    Sum *= i
    i += 1
print(Sum)

5040