#### Functions And Recursions

In [2]:
# Functions in python
# Block of statements that perform a specific task.
# redundant
def Sum (a, b):
    print(a+b)
Sum(3,23)

26

In [6]:
def calc_sum(a, b): #parameters like variables names
    Sum = a + b
    return Sum
calc_sum(24,23) #Arguements are actuall values

47

In [10]:
def print_hello():
    print("hello")
output = print_hello()
print(output)

hello
None

In [11]:
# Average of three numbers
def average(a, b, c):
    Sum = a+b+c
    print(Sum/3)

In [12]:
average(3,2,4)

3.0

##### Two types of functions
1. Built-in Functions
2. User defined functions

In [13]:
# Looking into how built-in function worked
print('apna college') #apna college is an argument here

apna college

In [14]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [16]:
print("Awais", end = " ") #since its not #end = "\n"
print("Ali")

Awais Ali

In [18]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [22]:
def Prod(a, b):
    return a*b
Prod()

TypeError: Prod() missing 2 required positional arguments: 'a' and 'b'

In [23]:
Prod(3)

TypeError: Prod() missing 1 required positional argument: 'b'

In [24]:
Prod(3,2)

6

##### Giving the default values to overcome this problem of missing values

In [27]:
def calProd(a = 1, b = 1):
    return a*b

In [28]:
calProd(3)

3

##### Practice Questions

In [29]:
# WAF to print the length of a list.
def Len(List):
    for i in List:
        print(i)
        print(len(List))

In [31]:
cities = ['lahore', 'islamabad', 'Karachi', 'Multan']
def printL (list):
    print(len(cities))
printL(cities)

4

In [37]:
print(cities[0], end = " ")
print(cities[1], end = " ")
print(cities[2], end = " ")
print(cities[3], end = " ")

lahore islamabad Karachi Multan

In [38]:
def P(list):
    for item in list:
        print(item, end= " ")

In [39]:
P(cities)

lahore islamabad Karachi Multan

In [40]:
def Fact(num):

_IncompleteInputError: incomplete input (2490119957.py, line 2)

In [ ]:
n = 0
num = int(input("Enter a number"))
while n <= num:
    num = num*(num-n)
    n+=1

Enter a number 4

In [1]:
n = 0
while n <= 5:
    print(n)
    n+=1

0
1
2
3
4
5

In [12]:
n = 1
while n <= 5:
    num = n* (n+=1)
    print(n, n * n)
    n = n+1

SyntaxError: invalid syntax (4274463263.py, line 3)

In [13]:
n = 5 
fact = 1
for i in range(1, n+1):
    fact *= i
print(fact)

120

In [14]:
def fact (a):
    Fact = 1
    for i in range(1, a+1):
        Fact *= i
    print(Fact)

In [15]:
fact(3)

6

In [16]:
fact(5)

120

In [17]:
def Inr(dollar):
    Inr = dollar*382
    return(Inr)

In [18]:
Inr(32)

12224

In [19]:
def converter(usd_value):
    Inr_Value = usd_value*83
    print(usd_value, "USD=", Inr_Value, "INR")

In [20]:
converter(4)

4 USD= 332 INR

In [21]:
def Fun():
    num = int(input("Enter a number"))
    if num % 2 == 0:
        print("Even")
    else:
        print("Odd")

In [22]:
Fun()

Enter a number 44

Even

In [26]:
def Welcome(name):
    print("Welcome", name)
Welcome('Awais')

Welcome Awais

In [27]:
def Square(n):
    print(n*n)
Square(5)

25

In [28]:
def max_of_two (a, b):
    if a>b:
        print(a)
    else: 
        print(b)

In [30]:
max_of_two(43,233)

233

In [31]:
def grade(score):
    if score >= 90:
        print("A")
    elif score >= 75:
        print("B")
    elif score >= 60:
        print("C")
    else:
        print("FAIL")

In [33]:
grade(80)

B

In [34]:
def is_vowel(ch):
    ch = ['a', 'e', 'i', 'o', 'u']
    if ch == ch[0:]:
        print("vowel")
    else:
        print("Consonent")

In [37]:
is_vowel('N')

vowel

#### Recursion
**When a function calls itself repeatedly**

In [38]:
def Show(n):
    if (n == 0):
        return
    print(n)
    Show(n-1)

In [39]:
def show(n):
    print(n)

In [40]:
show(3)

3

In [41]:
Show(4)

4
3
2
1

In [47]:
def Num(m):
    if m == 0:
        return
    print(m)
    Num(m-1)

In [48]:
Num(10)

10
9
8
7
6
5
4
3
2
1

In [51]:
def num (a):
    if (a == 0): # This is called base case
        return
    print(a)
    num(a-1)
    print("END")

In [52]:
num(3)

3
2
1
END
END
END

In [ ]:
# Call stack (stack of books) call of functions stack

In [53]:
def fact(n):
    if (n==0 or n==1):
        return 1
    else:
        return n*fact(n-1)

In [54]:
fact(4)

24

In [59]:
def calc_sum(n):
    if (n==0):
        return
    print(n)
    return calc_sum(n-1) + n

In [61]:
Sum = calc_sum(4)
print(Sum)

4
3
2
1

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [ ]:
L