## Variables & Data Types

![teacher](https://www.mypunepulse.com/wp-content/uploads/2024/08/WhatsApp-Image-2024-08-27-at-2.11.07-PM.jpeg)

#### Lecture Outline
1. Introduction
2. Introduction to Python
3. Python Installation (windows)
4. Python Installation (Mac)
5. VScode Installation
6. First Program
7. Python Characters set
8. variables and how to use them
9. Rules for identifiers
10. Data Types
11. Keywords
12. Print Sum
13. Comments in Python
14. Type conversion
15. Inputs/ outputs
16. Let's Practice

Python is a high level language and translators convert them into low level language like into binary forms to make computers understand

**Tranlator** Can be (Compilers or Interpreters) in python they are interpreters

##### What is Python?
- Python is simple & easy
- Free & Open Source
- High level Language
- Developed by *Guido Van Rossum* (initially worked for google now workin in microsoft)
- Portable (same code can be executed in windows, macs, or Linux)
- Python is versitile language like (Data Science: ML/AI, Web Dev: Using Django and Games etc.)
##### First Python Code

In [2]:
print('Hello World')

Hello World

##### Python Character Set
- Letters: A to Z, a to z
- Digits: 0 to 9
- Special Symbols: -+_*/ etc.
- Whitespaces: Blank Space, tab, carriage return, newline, formfeed
- Other characters: Python can process all ASCII and Unicode character as part of data or literals

##### Variables
**A variable is a name given to a memory location in a program**
name = "Awais" <br>
age = 23 <br>
price = 25.99

In [3]:
name = "Awais"
age = 25
price = 25.99
print("My name is: ", name)
print("My age is: ", age)

My name is:  Awais
My age is:  25

##### Rules for Identifiers
1. Identifiers can be combination of uppercase and lowercase letters, digits or an underscore(_). Like: myVariable, variable_1, variable_for_print all are valid python identifiers.
2. An Identifier can not start with digit. So while variable1 is valid, 1variable is not valid.
3. We can't use special sybols like !*%#$@
4. can be of any length

##### Data Types
*There are total 5 types*
- Integers (+ve, -ve, 0 and all whole numbers)
- Strings ("")('')("''")
- Float (Decimal values)
- Boolean (True, False) (with capital T & F)
- None (means no value is assign)

In [5]:
name = "'Awais'"
print(name)
print('''Awais''')

'Awais'
Awais

In [6]:
old = False
a = None
print(type(old))
print(type(a))

<class 'bool'>
<class 'NoneType'>

##### Keywords
*Keywords are reserved words*
| Column 1 | Column 2 | Column 3 | Column 4 |
| ---------- | ---- | ------------ | -------|
| and | else | in | return | 
| as | except | is | True |
| assert | finally | lambda | try |
| break | False | nonlocal | with |
| class | for | None | while |
| continue | from | not | yeild |
| def | global | or |
| del | if | pass | 
| elif | import | raise |
Python is case sensitive

In [7]:
# Print Sum
a = 3
b = 5
sum = a + b
print(sum)

8

##### Comments in Python

we use '#' and """

In [11]:
"""
print("hello world") 
this is multi line comment
"""

'\nprint("hello world") nthis is multi line comment\n'

In [13]:
# print ('I ma using command')
# print('for multiple things to comment out')
# print('here we go')
# ctrl and /

##### Operators in Python
| Type | Symbols |
| ----- | ----- |
| Arithmetic Operators | (+, -, *, /,  %, **) |
| Relational/Comparison Operators | (==, !=, >, <, >=, <=) |
| Assignment Operators | (=, +=, *=, /=, %=, **=) |
| Logical Operator | (not, and, or) |

In [20]:
num0 = 20
num0 = num0 + 20
print(num0) 

#or
num = 10
num += 10
print(num)

num1 = 10
num1 *= 10
print(num1)

num2 = 10
num2 /= 20
print(num2)

40
20
100
0.5

In [24]:
# Practicing Logical Operators

# not works on single operands
print(not False)
print(not True)

# case 2
val1 = 5
val2 = 10
print(not (val1<val2)) #False
print(not (val1 == val2))

True
False
False
True

In [26]:
#Using and operator

a = True
b = True
print("And Operator: ", a and b)

c = False
d = True
print("Or operator", c or d)

And Operator:  True
Or operator True

##### Type Conversion
conversion vs casting <br>
implicityly and explicitly  <br>
float is superior than int

##### Taking Input from Users

In [27]:
input('enter your name')

enter your name awais

'awais'

In [28]:
val = input('enter your name')
print(type(val), val)

enter your name Awais

<class 'str'> Awais

##### Let's Practice

In [29]:
# Write a program to input numbers & print their sum.
num1 = int (input('Enter first number: '))
num2 = int (input('Enter second number: '))
sum = num1 + num2
print("Sum is: ", sum)

Enter first number:  55
Enter second number:  2

Sum is:  57

In [30]:
# find average
average = sum/2
average

28.5

In [31]:
print(num>=2)

True